{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>My View</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <h1>Pokemon</h1>
    < /br>
    <table>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Type 1</th>
            <th>Type 2</th>
            <th>Region</th>
        </tr>
        (% for item in query_results %}
        <tr>
            <td>{{ item.field1 }}</td>
            <td>{{ item.field2 }}</td>
            <td>{{ item.field3 }}</td>
            <td>{{ item.field4 }}</td>
            <td>{{ item.field5 }}</td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>